on:
  issues:
    types: [opened]
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: stefanbuck/github-issue-praser@main
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/test-1.yml
      
      - run: cat ${HOME}/issue-parser-result.json

      - uses: peter-evans/close-issue@v1
        with:
          comment: ${{ steps.issue-parser.outputs.jsonString }}